<% @no_footer = true %>
<div class="container">
<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <div class="act-form-box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-field' %></div><br />

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-field', placeholder: "Leave blank if unchanged" %></div><br />

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-field' %></div><br />

      <div><%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-field', placeholder: "Enter to confirm changes" %></div><br />

      <div><%= f.submit "Update", class: 'button center-block' %></div>
    <% end %>
  </div>
    <%= link_to "Back", :back, class: 'login-link' %>
</div><br/><br/>
</div>