<div class="<%= cycle('left-entry all_entries','right-entry all_entries') %>">
  
  <strong class=""><%= link_to entry.title, entry_path(entry), "data-toggle" => "modal", 'data-target' => "#show_modal", remote: :true %></strong><br>
  <em><%= entry.date.strftime("%B %e, %Y") %></em>
  <div><%= entry.body %></div>
  
  <div><%= render partial: 'entries/buttons', locals: { entry: entry } %></div>
  
</div>
