<h2><%= @entry.title %></h2>
<p>
	<em><%= @entry.date.strftime("%B %e, %Y") %></em><br>
	In <%= @entry.location %><br>
</p>

<p><%= @entry.body %></p>
<p>
	Categories:
	<% @entry.categories.each do |category| %>
	<%= link_to category.name, category_path(category) %>
	<% end %>
</p>
<%= render partial: 'entries/buttons', locals: { entry: @entry } %>