<div class="row">

  <div class='search-box pull-right'>
    <%= form_tag entries_path, method: 'get', id: 'keyword-search' do %>
      <%= text_field_tag :keyword_search, params[:keyword_search], class: 'search-field', placeholder: 'What are you looking for?' %>
      <% end %>
    <%#= link_to "Search by date", "#", class: 'date-search-link pull-right' %>
  </div>

  <div class='pull-right date-search-section' style="display: none">
    <%= form_tag entries_path, method: 'get', id: 'date-search' do %>

     <span class="date-search-one date-search-box" id="date-one">
       <input id="date1-month" class="date-field" name="start_date[(2i)]" maxlength="2" placeholder="MM" value="<%#= current_date_val(entry.date.try(:month)) %>" data-autotab-format="number"/> /
       <input id="date1-day" class="date-field" name="start_date[(3i)]" maxlength="2" placeholder="DD" value="<%#= current_date_val(entry.date.try(:day)) %>" data-autotab-format="number" /> /
       <input id="date1-year" class="date-field" name="start_date[(1i)]" maxlength="4" placeholder="YYYY" value="<%#= current_date_val(entry.date.try(:year)) %>" data-autotab-format="number"/> 
     </span>
     <span class="date-text">to</span>

     <span class="date-search-two date-search-box" id="date-two">
       <input id="date2-month" class="date-field" name="end_date[(2i)]" maxlength="2" placeholder="MM" value="<%#= current_date_val(entry.date.try(:month)) %>" data-autotab-format="number"/> /
       <input id="date2-day" class="date-field" name="end_date[(3i)]" maxlength="2" placeholder="DD" value="<%#= current_date_val(entry.date.try(:day)) %>" data-autotab-format="number" /> /
       <input id="date2-year" class="date-field" name="end_date[(1i)]" maxlength="4" placeholder="YYYY" value="<%#= current_date_val(entry.date.try(:year)) %>" data-autotab-format="number"/> 
     </span>
    <% end %><br/>
    <%= link_to "Search by keyword", "#", class: 'keyword-search-link pull-right' %>
  </div>

  <br/><br/>
  <% if current_user %>
  <div class='add-entry-row'>
    <%= link_to '⊕', new_entry_path, class: 'add-entry-icon', "data-toggle" => "modal", 'data-target' => "#entry_modal", remote: :true %>
  </div>
  <% else %>
  <br/><br/><br/>
  <% end %>

  <div class="modal fade" id="entry_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-form">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <br/>
          <div id="modal-entry-body">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="show_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content one-entry">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div id="modal-show-body">

          </div>
        </div>
      </div>
    </div>
  </div>

<div id="timeline-embed"></div>
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

<script src="assets/timeline.js"></script>

<script src="assets/search.js"></script>

</div>



