<div class="one_entry">
	<h2><%= @entry.title %></h2>
	<p>
		<em><%= @entry.date %></em><br>
		In <%= @entry.location %><br>
	</p>
	
	<p><%= @entry.body %></p>
	<p>
		Categories:
		<% @entry.categories.each do |category| %>
		<%= link_to category.name, category_path(category) %>
		<% end %>
	</p>

	<%= link_to "Edit", edit_entry_path(@entry) %> || 
	<%= link_to "Delete", entry_path(@entry), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<p><%= link_to "Back", entries_path %></p>