<div class="row">
  <h2 class="text-center">Forgot your password?</h2>
  <div class="form-box">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-field', placeholder: "Email address" %></div><br/>

      <div><%= f.submit "Reset", class: 'button center-block' %></div>
    <% end %>
  </div>
</div>
