<h2><em><%= @category.name %></em> category</h2>

<% @category.entries.each do |entry| %>
	<div class="all_entries">
		<p>
			<strong><%= link_to entry.title, entry_path(entry) %></strong><br>
			<em><%= entry.date %></em><br>
			<%= entry.body %><br>
			<%= link_to "Edit", edit_entry_path(entry) %> || 
			<%= link_to "Delete", entry_path(entry), method: :delete, data: {confirm: "Are you sure?"} %>
		</p>
	</div>
<% end %>

<%= link_to "All entries", entries_path %>