<!DOCTYPE html>
<html>
<head>
  <title>History Tree</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" src="https://s3.amazonaws.com/cdn.knightlab.com/libs/timeline/latest/js/timeline.js"></script> 
  <script type="text/javascript" src="https://s3.amazonaws.com/cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  
</head>

<body>
  <div class="container">
  	<div class="header">
      <%= link_to(root_path) do %>
        <%= image_tag("tree_logo.png", height: "50") %>
      <% end %>

      <div class="pull-right">
        <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <div class="chat-bubble-arrow-border"></div>
                <div class="chat-bubble-arrow"></div>
              </ul>
            </li>
          </ul>

        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: 'login-link' %> or <%= link_to "Sign Up", new_user_registration_path, class: 'login-link' %>
        <% end %>
      </div>
  	</div>

    <div id="flash-container">
      <% if flash[:notice] %>
        <div class="alert alert-notice"><%= flash[:notice] unless notice.blank? %></div>
      <% elsif flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] unless error.blank? %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-alert"><%= flash[:alert] unless alert.blank? %></div>
      <% end %>
    </div>

    <br/>
    
    <div><%= yield %></div>
  </div>
</body>


</html>
